* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background-size: cover;
  background-image: url(./assets/header.svg);
  background-repeat: no-repeat;
  color: white;
  letter-spacing: 2px;
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}


header h1 {
  font-size: 35px;
}

header h4 {
  font-size: 15px;
}

body {
  color: #4f4f4f;
  font-family: "Poppins", sans-serif;
  background-color: white;
  font-size: 16px;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
  height: 7vh;
  display: flex;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: #5a0d5c;
  padding: 10% 20px;
  transition: background-color 1s, color 1s;
}

.menu a:hover {
  background: #5a0d5c;
  color: white;
}

.menu ul {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.menu li {
  list-style: none;
}

.aboutme {
  padding-top: 5vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.perfil {
  max-width: 70%;
}

.subtitulo {
  padding-bottom: 4vh;
  font-size: 20px;
}

.skills {
  padding-top: 5vh;
}

.fotoperfil {
  width: 100%;
  min-width: 200px;
  height: auto;
  padding-left: 2%;
}



.projetos {
  background-image: url(./assets/body.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  margin:auto;
  padding-left: 10%;
  padding-bottom: 5%;

}
.container-projetos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


.img-projeto {
  width: 8em;
  height: auto;

}

.img-quiz {
  width: 18em;
  height: auto;
}

.card {
padding: 3%;
display: flex;
max-width: 40%;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: space-between;

}

.card h3 {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.contato {
  padding-bottom: 5%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.contato h4 {
  text-align: center;
  padding-bottom: 5vh;
  font-size: 20px;
}

.contato a {
  color: #8c0c5c;
  font-size: 36px;
  transition: all 1s;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 1px 1px 3px #5a0d5c;
  color: #5a0d5c;
}

.contatoicones {
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 3%;
}

footer a, section a{
  text-decoration: none;
  color:#8c0c5c;
  transition: all 1s;
}

footer a:hover, section a:hover{
  text-decoration: none;
  text-shadow: 1px 1px 3px #5a0d5c;
  color: #5a0d5c;
}
