* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #4f4f4f;
  font-family: "Poppins", sans-serif;
  background-color: white;
  font-size: 16px;
}

header {
  background-size: cover;
  background-image: url(./assets/header.svg);
  background-repeat: no-repeat;
  color: white;
  letter-spacing: 2px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

header h1 {
  font-size: 35px;
}

header h4 {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  header {
    height: 50%;
  }
}

@media (min-width: 768px) {
  header {
    height: 70%;
  }
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
  height: 7vh;
  display: flex;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: #5a0d5c;
  padding: 10% 20px;
  transition: background-color 1s, color 1s;
}

.menu a:hover {
  background: #5a0d5c;
  color: white;
}

.menu ul {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.menu li {
  list-style: none;
}

.aboutme {
  padding-top: 5%;
  margin: auto;
  display: flex;
  padding-bottom: 4%;
}

.container-perfil {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .aboutme {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: auto;
  }

  figure {
    display: flex;
    justify-content: center;
    padding-top: 3%;
  }

  .container-perfil {
    align-items: center;
    justify-content: space-between;
    height: 100vh;
  }
}

@media (min-width: 768px) {
  .aboutme {
    flex-direction: row;
    width: 80%;
  }
  .container-perfil {
    justify-content: space-around;
    height: 100%;
  }
}

.subtitulo {
  font-size: 20px;
}

.botao-curriculo {
  font-size: 16px;
  padding: 0.7em;
  background: #ffffff;
  border: solid #5a0d5c 0.15em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  text-decoration: none;
  color: #5a0d5c;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition: all 1s;
}

.botao-curriculo:hover,
.botao-curriculo:active {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  color: #ffffff;
  background-color: #5a0d5c;
  border: solid #5a0d5c 0.15em;
  text-decoration: none;
}

@media (max-width: 768px) {
  .fotoperfil {
    width: 60%;
    height: auto;
  }
}

@media (min-width: 768px) {
  .fotoperfil {
    width: 100%;
    min-width: 200px;
    height: auto;
    padding-left: 2%;
  }
}

.projetos {
  background-image: url(./assets/body.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 5%;
  text-align: center;
}

.projetos h4 {
  font-size: 20px;
  padding-bottom: 4%;
}
.container-projetos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .container-projetos {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .container-projetos {
    flex-direction: row;
  }
}

.img-projeto {
  width: 8em;
  height: auto;
}

.img-quiz {
  width: 18em;
  height: auto;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .card {
    max-width: 40%;
  }
}

.card {
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.card h3 {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

@media (max-width: 768px) {
  .contato {
    width: 70%;
    height: 30%;
  }
}

@media (min-width: 768px) {
  .contato {
    width: 50%;
  }
}

.contato {
  padding-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contato h4 {
  text-align: center;
  padding-bottom: 8%;
  font-size: 20px;
}

.contato a {
  color: #8c0c5c;
  font-size: 36px;
  transition: all 1s;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 1px 1px 3px #5a0d5c;
  color: #5a0d5c;
}

.contatoicones {
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 3%;
}

footer a,
section a {
  text-decoration: none;
  color: #8c0c5c;
  transition: all 1s;
}

footer a:hover,
section a:hover {
  text-decoration: none;
  text-shadow: 1px 1px 3px #5a0d5c;
  color: #5a0d5c;
}
